.contact {
  position: relative;
}

.contact__image {
  width: 100%;
  height: 400px;
  opacity: 0.4;
}

.contact__text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.imageNav {
  margin-top: 60px;
}

.imageNav__item {
  transition: 0.8s;
  opacity: 1;
}

.imageNav__item:hover {
  opacity: 0.5;
}
