.sectionHeader {
  display: flex;
  margin-bottom: 50px;
}

.sectionHeader__text {
  border-bottom: 1px solid black;
  text-align: right;
  flex: 0 0 25%;
}

.contact {
  position: relative;
}

.contact__image {
  width: 100%;
  height: 400px;
  opacity: 0.4;
}

.contact__text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}

.imageNav {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}

.imageNav__item {
  flex: 0 0 25%;
  position: relative;
}

.imageNav__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  color: black;
  font-weight: bold;
  font-size: 3vw;
  font-family: Quicksand, sans-serif;
}

.fadeIn {
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  from: {
    opacity: 0;
  }
  to: {
    opacity: 1;
  }
}
