@import '../assets/variables';

.imageNav {
  margin-top: 60px;
}

.imageNav__item {
  transition: 0.8s;
  opacity: 1;
  height: 50px;
  width: 100%;
  @media screen and (min-width: $threshold) {
    height: auto;
  }
}

.imageNav__item:hover {
  opacity: 0.5;
}

.map {
  margin: 0;
  border: 0;
  width: 100%;
  height: 450px;
}

.more_info_button {
  border: none;
  width: 200px;
  height: 50px;
  background-color: $luftColor;
  color: white;
  &:hover {
    opacity: 0.5;
  }
}
