@import '../assets/variables';

$height: 50px;
.footer {
  left: 0;
  bottom: 0;
  height: $height;
}

.footer__copywriteBar {
  background-color: lightgrey;
  color: $luftColor;
  height: 100%;
  line-height: $height;
  vertical-align: middle;
}
