.nav {
  background-color: white;
  height: 3%;
}

.nav__logo {
  font-size: 2em;
  margin: 0;
}

.nav__menu {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
}

.nav__menuItem {
  align-self: center;
  padding: 15px;
}
