@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

.jumbotron {
  position: relative;
}

.jumbotron__image {
  width: 100%;
}

@include media-breakpoint-up(md) {
  .jumbotron__image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
}

.jumbotron__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  color: white;
  font-weight: bold;
  font-size: 3vw;
  font-family: Quicksand, sans-serif;
}

.fadeIn {
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  from: {
    opacity: 0;
  }
  to: {
    opacity: 1;
  }
}
