@import '../assets/variables';

.link {
  text-decoration: none;
  color: white;
  &:hover {
    text-decoration: none;
    border: none;
    @media screen and (min-width: $threshold) {
      border-bottom: 2px solid black;
    }
  }

  &:focus &:visited &:link &:active {
    text-decoration: none;
  }
  @media screen and (min-width: $threshold) {
    color: black;
  }
}
